

<div>
  <button (click)="showform()">CreateOffice</button>
  <br>
  <br>
  <p></p>
  <router-outlet></router-outlet>
  <div *ngIf="visibleForm">
    <form [formGroup]="form">
      <label>name<input type="text" formControlName="name"></label>
      <label>city<input type="text" formControlName="city"></label>
      <button (click)="save(form)">save</button>
    </form>
  </div>
  </div>
  <div *ngFor="let office of offices" class="offices">
    <h2>{{office.id}}</h2>
    <h3>{{office.name}}</h3>
    <h3>{{office.city}}</h3>
    <button (click)="delete(office.id)">Delete</button>
    <div *ngFor="let e of office.employees">
      -------------------------------------------
      <h2>Employee</h2>
      <div> <img src="{{'http://localhost:8000'+e.photo}}"  alt="" width="100" height="100"/></div>
      <h3> {{e.id}} name: {{e.name}} * age: {{e.age}} * city: {{e.city}} * office: {{e.office}}</h3>
      <hr>
    </div>
    <br><br>
  </div>







